<div id="motor-admin-container">
    <div id="motor-upload">
        <form [formGroup]="motorForm" class="motorForm">
            <div class="form-upload">
                <div class="upload-content">
                    <h2>Add New Motor</h2>
                    <hr />
                    <div class="model-content">
                        <label for="motorId">Motor ID</label>
                        <div class="content-control">
                            <tui-input tuiTextfieldSize="l" formControlName="motorId" [tuiTextfieldCleaner]="true">
                                <input tuiTextfield type="text" placeholder="ex: HV01" />
                            </tui-input>
                        </div>
                    </div>
                    <div class="model-content">
                        <label for="name">Name</label>
                        <div class="content-control">
                            <tui-input tuiTextfieldSize="l" formControlName="name" [tuiTextfieldCleaner]="true">
                                <input tuiTextfield type="text" placeholder="Honda Vision" />
                            </tui-input>
                        </div>
                    </div>
                    <div class="model-quantity">
                        <div class="model-content">
                            <label for="model">Model</label>
                            <div class="content-control">
                                <tui-input tuiTextfieldSize="l" formControlName="model" [tuiTextfieldCleaner]="true">
                                    <input tuiTextfield type="text" placeholder="2024" />
                                </tui-input>
                            </div>
                        </div>
                        <div class="model-content">
                            <label for="quantity">Quantity</label>
                            <div class="content-control">
                                <tui-input tuiTextfieldSize="l" formControlName="quantity" [tuiTextfieldCleaner]="true">
                                    <input tuiTextfield type="text" placeholder="100" />
                                </tui-input>
                            </div>
                        </div>
                    </div>
                    <div class="cate-manu">
                        <div class="model-content">
                            <label for="category">Category</label>
                            <div class="content-control">
                                <select class="category" formControlName="categoryId">
                                    <option *ngFor="let category of categories" [value]="category._id">{{ category.name
                                        }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="model-content">
                            <label for="manufacturer">Manufacturer</label>
                            <div class="content-control">
                                <select class="manufacturer" formControlName="manufacturerId">
                                    <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer._id">{{
                                        manufacturer.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="model-content">
                        <label for="price">Price</label>
                        <div class="content-control">
                            <tui-input tuiTextfieldSize="l" formControlName="price" [tuiTextfieldCleaner]="true">
                                <input tuiTextfield type="text" placeholder="10000000" />
                            </tui-input>
                        </div>
                    </div>
                    <div class="model-content">
                        <label for="description">Description</label>
                        <div class="content-control">
                            <tui-input tuiTextfieldSize="l" formControlName="description" [tuiTextfieldCleaner]="true">
                                <input tuiTextfield type="text" placeholder="Description" />
                            </tui-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="im-upload">
                <div class="card">
                    <h2>Upload Image</h2>
                    <div class="drop_box">
                        <input type="file" accept="image/*" style="display: none" (change)="onFileSelected($event)"
                            #fileInput />
                        <button class="btn" (click)="fileInput.click()">Choose File</button>
                        <div class="img-file" *ngIf="selectedImage">
                            <img [src]="selectedImage" alt="Selected Image"
                                style="width: 120px;height: 120px; margin-top: 1rem;" />
                        </div>
                    </div>
                </div>
                <div class="btn-createupdate">
                    <button (click)="createMotor()">Create Motor</button>
                    <button (click)="onUpdateMotor()">Update Motor</button>
                </div>
            </div>
        </form>
    </div>
    <div id="motor-list">
        <h2>MOTOR LIST</h2>
        <table class="motor-table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Manufacturer</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let motor of motorList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>
                        <div class="motor-image">
                            <img *ngIf="motor.image.urls.length > 0" [src]="motor.image.urls[0]"
                                alt="{{ motor.name }}" />
                        </div>
                    </td>
                    <td>{{ motor.name }}</td>
                    <td>{{ motor.price }}</td>
                    <td>{{ motor.categoryId.name }}</td>
                    <td>{{ motor.manufacturerId.name }}</td>
                    <td class="description">{{ motor.description }}</td>
                    <td class="actions">
                        <button tuiButton appearance="icon" (click)="onEditMotor(motor.motorId)">
                            <tui-svg src="tuiIconEdit"></tui-svg> Edit
                        </button>
                        <button tuiButton appearance="icon" (click)="onDeleteMotor(motor.motorId)">
                            <tui-svg src="tuiIconTrash"></tui-svg> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>