<div id="motor-admin-container">
    <div id="motor-upload">
        <form [formGroup]="motorForm" class="motorForm">
            <div class="form-upload">
                <div class="upload-content">
                    <h2>Add New Motor</h2>
                    <hr>
                    <div class="model-content">
                        <label for="motorId">Motor ID</label>
                        <div class="content-control">
                            <tui-input tuiTextfieldSize="l" formControlName="motorId" [tuiTextfieldCleaner]="true">
                                <input tuiTextfield type="text" placeholder="ex: HV01" />
                            </tui-input>
                        </div>
                    </div>
                    <div class="model-content">
                        <label for="name">Name</label>
                        <div class="content-control">
                            <tui-input tuiTextfieldSize="l" formControlName="name" [tuiTextfieldCleaner]="true">
                                <input tuiTextfield type="text" placeholder="Honda Vision" />
                            </tui-input>
                        </div>
                    </div>
                    <div class="model-content">
                        <label for="model">Model</label>
                        <div class="content-control">
                            <tui-input tuiTextfieldSize="l" formControlName="model" [tuiTextfieldCleaner]="true">
                                <input tuiTextfield type="text" placeholder="2024" />
                            </tui-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="im-upload"></div>
        </form>
    </div>
    <div id="motor-list"></div>
</div>