#login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/bg_login.jpg");
  background-size: cover;
}

#box-login {
  border: 2px solid #ccc;
  padding: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(100%);
  position: relative;
}

#login {
  height: 100%;
  width: 100%;

  .top-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .image-login {
      // margin-left: 100px;
      height: 10rem;
      margin-bottom: 20px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  #all-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .input-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input {
    width: 100%;
    margin-bottom: 10px;
  }
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.SigIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 0.5 rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  // background-color: #ccc;
  background-color: rgb(130, 130, 130);
}

.divider-text {
  margin: 0 10px;
  color: #888;
  font-weight: bold;
  text-transform: uppercase;
}

.forgot-password {
  align-self: flex-end; // Align forgot password to the end
}
