<!-- <div id="login-container">
    <div id="box-login">
        <div id="login">
            <div class="top-box">
                <img class="image-login" src="../../../assets/images/motor-high-resolution-logo-transparent.png"
                    alt="logo">
            </div>
            <div id="all-input">
                <div class="input-box" [formGroup]="accountForm">
                    <div class="input">
                        <tui-input formControlName="email" [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true">
                            Gmail
                            <input autocomplete="email" placeholder="example@gmail.com" tuiTextfield type="email" />
                        </tui-input>
                    </div>
                    <div class="input">
                        <tui-input formControlName="password" [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true">
                            Password
                            <input autocomplete="current-password" placeholder="********" tuiTextfield
                                type="password" />
                        </tui-input>
                    </div>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="SigIn">

                    <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3">
                        Sign in
                    </button>
                </div>
                <div class="divider">
                    <span class="divider-line"></span>
                    <span class="divider-text">or</span>
                    <span class="divider-line"></span>
                </div>
                <div class="google" (click)="loginWithGoogle()">
                    <button tuiButton type="button" appearance="primary" class="tui-space_right-3 tui-space_bottom-3"
                        style="width: 296px; margin: 0">
                        <img style="height: 20px; width: 20px; margin-right: 1rem"
                            src="../../../assets/images/google1.png" alt="" />
                        Sign in with Google
                    </button>
                </div>
                <div class="create">
                    <span>Don't have an account?</span>
                    <a (click)="register()" id="create-account-link"> Sign up</a>
                </div>
            </div>
        </div>

    </div>
</div> -->


<div class="login-container">
    <div class="wrapper">
        <form action="#">
            <h2>Sign in</h2>
            <div [formGroup]="accountForm" (ngSubmit)="loginWithAccount()">
                <div class="input-field">
                    <input type="text" formControlName="email" required>
                    <label> Enter your email</label>
                </div>
                <div class="input-field">
                    <input type="text" formControlName="password" required>
                    <label> Enter your password</label>
                </div>
            </div>
            <div class="container_login">
                <button type="submit" (click)="loginWithAccount()"> Sign in</button>

            </div>
            <div class="container_login">

                <button class="loginwithgg" type="submit" (click)="loginWithGoogle()">
                    <img style="height: 20px; width: 20px; margin-right: 1rem" src="../../../assets/images/google1.png"
                        alt="" /> Login With Google</button>
            </div>
            <div class="text_register">
                <span>Don't have an account?</span>
                <a (click)="register()" id="create-account-link"> Sign up</a>
            </div>

        </form>

    </div>
</div>