<div id="home-container">
    <div id="bg-container">
        <img class="bg-ima" src="../../../../assets/images/1he.jpg" alt="">
        <div class="bg-txt">
            <h1>RENT . MOTORCYCLE . DISCOVER</h1>
            <span>MotoR Motorcycle Rental</span>
        </div>
    </div>
    <div id="intro-container">
        <img class="intro-ima" src="../../../../assets/images/vespa.jpg" alt="">
        <div class="intro-txt">
            <div class="txt-top">
                <h2 class="title">RENT MOTOR</h2>
                <span class="wel">Welcome to MotoR - Our unique car rental app, where your journey begins. MotorR offers
                    a
                    convenient and flexible car rental experience with a diverse range of vehicles. From short-term
                    trips to long-term journeys, we pride ourselves on providing quality service and flexible
                    solutions to meet all your needs. Explore the world around you easily with MotoR
                </span>
            </div>
            <div class="txt-bottom">
                <div class="bottom-first">
                    <h2 class="title">Established</h2>
                    <span>2024</span>
                </div>
                <div class="bottom-seccond">
                    <h2 class="title">
                        Motorcycle Model
                    </h2>
                    <span>2</span>
                </div>
                <div class="bottom-third">
                    <h2 class="title">
                        Visitors
                    </h2>
                    <span>3</span>
                </div>
            </div>

        </div>
    </div>
</div>