<div id="home-container">
    <div id="bg-container">
        <!-- <img class="bg-ima" src="../../../../assets/images/1he.jpg" alt=""> -->
        <div class="bg-txt">
            <h1>RENT . MOTORCYCLE . DISCOVER</h1>
            <span>MotoR Motorcycle Rental</span>
        </div>
    </div>
    <div id="center-container">
        <div id="first-center">
            <div class="intro-bg">
                <img class="bg-im" src="../../../../assets/images/first.jpg" alt="">
            </div>
            <div class="intro-txt">
                <div class="txt-top">
                    <h2 class="title tui-text_h4">RENT MOTOR</h2>
                    <span class=" tui-text_body-xl">Welcome to MotoR - Our unique car rental app, where your journey
                        begins. MotorR offers a convenient and flexible car rental experience with a diverse range
                        ofvehicles. From short-term
                        trips to long-term journeys, we pride ourselves on providing quality service and flexible
                        solutions to meet all your needs. Explore the world around you easily with MotoR
                    </span>
                </div>
                <div class="txt-bottom">
                    <div class="bottom-item ">
                        <span class="title tui-text_h4">2024</span>
                        <h2 class="tui-text_body-xl">Established</h2>

                    </div>
                    <div class="bottom-item ">
                        <span class="title tui-text_h4">2</span>
                        <h2 class="tui-text_body-xl">
                            Motorcycle Model
                        </h2>

                    </div>
                    <div class="bottom-item ">
                        <span class="title tui-text_h4">3</span>
                        <h2 class="tui-text_body-xl">
                            Visitors
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="sec-center">
            <div class="sec-bg">
                <img src="../../../../assets/images/motosec.jpg" alt="">
            </div>
            <div class="sec-txt">
                <h1>MOTORCYCLE RENTALS</h1>
                <h2>We've got everything, from scooters to dual-sports and tourers.</h2>
                <button style="color: white; border: 1px solid white" appearance="custom" tuiButton type="button"
                    class="tui-space_right-3 tui-space_bottom-3">
                    View Rentals
                </button>
            </div>
        </div>
        <!-- <div id="thir-center">
            <div class="thir-bg">
                <img src="../../../../assets/images/vespa.jpg" alt="">
            </div>
        </div> -->
    </div>
</div>