#layout-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;

  #navbar {
    width: 100%;
    height: 4.5rem;
  }

  #layout-content {
    width: 100%;
    height: calc(100% - 4.5rem);
  }
}
