<div id="layout-container">
    <div id="navbar-layout-container">
        <app-navbar></app-navbar>
    </div>
    <div id="layout-content-top">
        <div class="image-content">
            <div class="image-blur">
                <img src="../../../assets/images/layout3.jpg" alt="layout" />
            </div>
            <div class="content">
                <h1>RENT . MOTORCYCLE . DISCOVER</h1>
                <span>MotoR Motorcycle Rental</span>
            </div>
        </div>
    </div>
    <div id="layout-content-center">
        <div class="layout-center">
            <div class="img-cent">
                <img class="ime" src="../../../assets/images/vespa.jpg" alt="">
            </div>
            <div class="cont-cent">
                <div>
                    <h1>MOTOR RENTALBIKE</h1>
                </div>
                <div>
                    <span>Welcome to MotoR - Our unique car rental app, where your journey begins. MotorR offers a
                        convenient and flexible car rental experience with a diverse range of vehicles. From short-term
                        trips to long-term journeys, we pride ourselves on providing quality service and flexible
                        solutions to meet all your needs. Explore the world around you easily with MotoR
                    </span>
                    <span>Your journey,ours!</span>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>