<div id="bike-container">
    <div id="mobike">
        <h2>Automatic Bikes</h2>
        <!-- <img class="igauto" src="../../../../../assets/images/vespa.jpg" alt=""> -->
    </div>
    <div class="full-bike">
        <div class="title-bike">
            <h2>Yamaha Nouvo</h2>
        </div>
        <div>
            <span>250000d/ngay</span>
        </div>
        <div>
            <img src="../../../../assets/images/Yamaha Yzf R6.jpg">
        </div>

        <div>
            <span> description</span>
        </div>
        <div>
            
        </div>
    </div>
    <div class="auto-bike">
        <div class="auto-bike-image">
            <img src="assets/images/motorbike/automatic-bikes/automatic-bike-2.jpg" alt="Automatic Bike 2">
        </div>
        <div class="auto-bike-details">
            <h3>Automatic Bike 2</h3>
            <p>Price: $2000</p>
            <button>Buy</button>
        </div>
    </div>
    <div class="auto-bike">
        <div class="auto-bike-image">
            <img src="assets/images/motorbike/automatic-bikes/automatic-bike-3.jpg" alt="Automatic Bike 3">
        </div>
        <div class="auto-bike-details">
            <h3>Automatic Bike 3</h3>
            <p>Price: $3000</p>
            <button>Buy</button>
        </div>
    </div>
</div>