#manual-container {
  height: 100%;
  width: 100%;
  #bg-motor {
    background-attachment: fixed;
    background-image: url("../../../../../assets/images/BackgroundRentalAll.jpg");
    height: 75%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  #contain-motor {
    width: 100%;
    padding: 3rem 20rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .l-contan {
      width: 25%;
    }
    .r-contan {
      height: 100%;
      width: 75%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      .rental {
        width: 40%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // border: 1px solid #ddd;
        // border-radius: 10px;
        padding: 1rem;
        // background-color: #fff;
        .tit-rent {
          font-size: 1rem;
          margin-bottom: 1rem;
        }
        img {
          width: 80%;
          height: auto;
          margin-bottom: 1rem;
          align-self: center;
        }
        .bt-motor {
          width: 100%;
          display: flex;
          justify-content: center;
          button {
            width: 100%;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            // &:hover {
            //   background-color: #0056b3;
            // }
          }
        }
      }
    }
  }
}
