<div id="manual-container">
    <div id="bg-motor">
        <div class="bg-container">
            <div class="f-inner">
                <div class="f-left">
                    <span>MotoR Bike Rentals</span>
                </div>
                <div class="f-right"></div>
            </div>
            <div class="s-inner">

            </div>
        </div>
    </div>
    <div id="contain-motor">
        <div class="l-contan">
            <h2>Sort</h2>
        </div>
        <div class="r-contan">
            <div>
                a
            </div>
            <div>
                b
            </div>
        </div>

    </div>
</div>
<!-- <div id="bike-container">
    <div class="full-bike">
        <h2>4</h2>
        <div *ngFor="let motor of motorList ">
            <h2>{{motor.name}}</h2>
            <img class="img" *ngFor="let img of motor.image.urls" [src]="img" alt="">
            <span>{{motor.description}}</span>
        </div>
    </div>
</div> -->