<div id="detail-container">
    <div class="title-detail">
        <span>${{item.price}}/days</span>

        <h1>{{item.name}}</h1>
    </div>
    <div class="detail-motor">
        <div class="about-detail">
            <img [src]="item.image.urls" alt="">
            <div class="des-detail">
                <h1>OVERVIEW</h1>
                <span>{{item.description}}</span>
            </div>
        </div>
        <div class="setup-rent">
            <h1>BOOK NOW</h1>
            <div id="tab">
                <div id="rent">
                    <form [formGroup]="motorcycleForm">
                        <div id="cityrent">
                            <span>City: <span class="star">*</span></span>
                            <tui-select tuiTextfieldSize="l" [formControl]="chooseCity">
                                Choose your city you want to rental
                                <!-- <input placeholder="Choose your city you want to rental" tuiTextfield /> -->
                                <tui-data-list-wrapper *tuiDataList [items]="city"></tui-data-list-wrapper>
                            </tui-select>
                        </div>
                        <div id="numofmot">

                            <label>Number of Motorcycles: <span class="star">*</span></label>
                            <div style="margin-top: 1rem; margin-left:.5rem">
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="1"> 1
                                </label>
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="2"> 2
                                </label>
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="3"> 3
                                </label>
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="4"> 4
                                </label>
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="5"> 5
                                </label>
                            </div>



                        </div>
                        <div id="datetime-reservation">
                            <div class="start">
                                <div class="input-motorform">
                                    <label for="date-checkin">Start Date: <span class="star">*</span></label>
                                    <input #dateCheckin type="date" id="date-checkin" class="date-field"
                                        name="date-from">
                                </div>
                            </div>
                            <div class="end">
                                <div class="input-motorform">
                                    <label for="date-checkout">End Date: <span class="star">*</span></label>
                                    <input #dateCheckout type="date" id="date-checkout" class="date-field" name="">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <hr>
                        <div id="bill-form">
                            <div class="price-motor">
                                <div class="price-title">
                                    <span>Rental Price</span>
                                </div>
                                <div class="price-value">
                                    <span>$ {{item.price}}</span>
                                </div>
                            </div>
                            <div class="quantity-motor">
                                <div class="quantity-title">
                                    <span>Quantity</span>
                                </div>
                                <div class="quantity-value">
                                    <span>{{ updateQuantity() }}</span>
                                </div>
                            </div>

                            <!-- xét cứng  -->

                            <div class="service-fee">
                                <div class="service-title">
                                    <span>Service Fee</span>
                                </div>
                                <div class="service-value">
                                    <span>$ 5</span>
                                </div>
                            </div>
                            <!-- xét cứng  -->

                            <div class="insurance-fee">
                                <div class="insurance-title">
                                    <span>Insurance Fee</span>
                                </div>
                                <div class="insurance-value">
                                    <span>$ 5</span>
                                </div>
                            </div>
                            <hr>

                            <div class="rental-day">
                                <div class="rental-title">
                                    <span>Rental Day</span>
                                </div>
                                <div class="rental-value">
                                    <span>{{item.price}} x {{updateQuantity()}} x {{selectedDays}}</span>
                                </div>
                            </div>
                            <hr>
                            <div class="total-fee">
                                <div class="total-title">
                                    <span>Total</span>
                                </div>
                                <div class="total-value">
                                    <span>$ {{ totalCost() }}</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="fram-book-bt" (click)="rentMotor()">
                <button class="custom-btn btn-3">
                    <span>Rent</span>
                </button>
            </div>
        </div>

    </div>

</div>


<dialog id="payment_dialog" style="color: #1f1a1c" #paymentDialog>
    <div class="dialog-content">
        <div class="ima">
            <img [src]="item.image.urls" alt="">
        </div>
        <div class="infoma">
            <h2>Payment Information</h2>
            <p>Number of Motocycles: {{ updateQuantity() }}</p>
            <p>City: {{ selectedCity }}</p>
            <p>Total Motor: $ {{ item.price * updateQuantity() }}</p>
            <p>Days: {{selectedDays}}</p>
            <p>Total Service: $ 5</p>
            <p>Total Insurance: $ 5</p>
            <p>Total Rent: ${{totalCost()}}</p>
            <button (click)="closePaymentDialog()">Close</button>
            <button (click)="onSubmit(item)">Submit</button>
            <!-- <button type="onSubmit">Submit</button> -->
        </div>



    </div>
</dialog>

<!---->