#detail-container {
  height: 100%;
  width: 100%;
  padding: 5rem 2rem;
  .title-detail {
    padding: 0rem 22rem;
    span {
      font-size: 1.125rem;
      font-weight: 600;
    }
    h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
  }
  .detail-motor {
    padding: 2rem 22rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .about-detail {
      display: flex;
      flex-direction: column;
      width: 50%;
      .des-detail {
        h1 {
          text-transform: uppercase;
          font-size: 2rem;
          margin-bottom: 2rem;
          letter-spacing: 0.1rem;
        }
        span {
          font-size: 1rem;
          letter-spacing: 0.05rem;
          line-height: 1.6;
          text-align: justify;
        }
      }
    }
    .setup-rent {
      h1 {
        font-size: 1.5rem;
        letter-spacing: 0.075rem;
      }
      .star {
        color: red;
      }
      width: 50%;
      margin-left: 8rem;
      margin-top: 2rem;
      h1 {
        font-weight: 800;
      }
      #tab {
        #rent {
          margin-top: 2rem;
          #cityrent {
            margin-bottom: 1rem;
          }
          #numofmot {
            font-size: 1rem;
            label {
              margin-right: 10px;
              font-size: normal;
            }
          }
          #datetime-reservation {
            margin-top: 1rem;
            margin-bottom: 2rem;
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1rem;
            width: 90%;
            .input-motorform {
              display: flex;
              flex-direction: column;
              align-items: flex-start;

              label {
                margin-bottom: 0.5rem;
              }

              input {
                width: 100%;
                padding: 0.5rem;
                font-size: 1.2rem;
                border: 1px solid #ccc;
                border-radius: 0.25rem;
                filter: drop-shadow(0px 0px 3px #000);
                -webkit-filter: drop-shadow(0px 0px 3px #000);
              }
            }
          }
          #bill-form {
            display: flex;
            flex-direction: column;
            padding: 1rem 2rem;
            width: 90%;
            .price-motor {
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              margin-bottom: 0.5rem;
              .price-title {
              }
              .price-value {
              }
            }
            .quantity-motor {
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              margin-bottom: 0.5rem;
              .quantity-title {
              }
              .quantity-value {
              }
            }
            .service-fee {
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              margin-bottom: 0.5rem;
              .service-title {
              }
              .service-value {
              }
            }
            .insurance-fee {
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              margin-bottom: 0.5rem;
              .insurance-title {
              }
              .insurance-value {
              }
            }
            .rental-day {
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              margin-top: 1rem;
              margin-bottom: 1rem;
              .rental-title {
              }
              .rental-value {
              }
            }
            .total-fee {
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              margin-top: 1rem;
              .total-title {
              }
              .total-value {
              }
            }
          }
        }
      }
    }
    .fram-book-bt {
      text-align: center;
      button {
        margin: 2em;
      }
      .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow:
          inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
          7px 7px 20px 0px rgba(0, 0, 0, 0.1),
          4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        outline: none;
      }
      .btn-3 {
        background: rgb(0, 172, 238);
        background: linear-gradient(
          0deg,
          rgba(0, 172, 238, 1) 0%,
          rgba(2, 126, 251, 1) 100%
        );
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
      }
      .btn-3 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
      .btn-3:before,
      .btn-3:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background: rgba(2, 126, 251, 1);
        transition: all 0.3s ease;
      }
      .btn-3:before {
        height: 0%;
        width: 2px;
      }
      .btn-3:after {
        width: 0%;
        height: 2px;
      }
      .btn-3:hover {
        background: transparent;
        box-shadow: none;
      }
      .btn-3:hover:before {
        height: 100%;
      }
      .btn-3:hover:after {
        width: 100%;
      }
      .btn-3 span:hover {
        color: rgba(2, 126, 251, 1);
      }
      .btn-3 span:before,
      .btn-3 span:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        background: rgba(2, 126, 251, 1);
        transition: all 0.3s ease;
      }
      .btn-3 span:before {
        width: 2px;
        height: 0%;
      }
      .btn-3 span:after {
        width: 0%;
        height: 2px;
      }
      .btn-3 span:hover:before {
        height: 100%;
      }
      .btn-3 span:hover:after {
        width: 100%;
      }
    }
  }
}

#payment_dialog {
  .dialog-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .ima {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
      }
    }
    .infoma {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }
}
