<div id="detail-container">
    <div class="title-detail">
        <span>${{item.price}}/days</span>

        <h1>{{item.name}}</h1>
    </div>
    <div class="detail-motor">
        <div class="about-detail">
            <img src="../../../../../assets/images/HondaLead2.png" alt="">
            <div class="des-detail">
                <h1>OVERVIEW</h1>
                <span>{{item.description}}</span>
            </div>
        </div>
        <div class="setup-rent">
            <h1>BOOK NOW</h1>
            <div id="tab">
                <tui-tabs [(activeItemIndex)]="activeTabIndex" class="red">
                    <button tuiTab (click)="setActiveTab(0)">Rental</button>
                    <!-- <button tuiTab (click)="setActiveTab(1)">Extras</button> -->
                    <button tuiTab (click)="setActiveTab(1)">Detail</button>
                </tui-tabs>
                <div id="rent" *ngIf="activeTabIndex === 0">
                    <div id="cityrent">
                        <span>City: <span class="star">*</span></span>
                        <tui-select tuiTextfieldSize="l" [formControl]="chooseCity">
                            Choose your city you want to rental
                            <!-- <input placeholder="Choose your city you want to rental" tuiTextfield /> -->
                            <tui-data-list-wrapper *tuiDataList [items]="city"></tui-data-list-wrapper>
                        </tui-select>
                    </div>
                    <div id="numofmot">
                        <form [formGroup]="motorcycleForm">
                            <label>Number of Motorcycles: <span class="star">*</span></label>
                            <div style="margin-top: 1rem; margin-left:.5rem">
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="1"> 1
                                </label>
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="2"> 2
                                </label>
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="3"> 3
                                </label>
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="4"> 4
                                </label>
                                <label>
                                    <input type="radio" formControlName="numberOfMotorcycles" value="5"> 5
                                </label>
                            </div>

                        </form>

                    </div>
                    <div id="datetime-reservation">
                        <div class="start">
                            <div class="input-motorform">
                                <label for="startDate">Start Date: <span class="star">*</span></label>
                                <input type="date" id="startDate" formControlName="startDate">
                            </div>
                        </div>
                        <div class="end">
                            <div class="input-motorform">
                                <label for="endDate">End Date: <span class="star">*</span></label>
                                <input type="date" id="endDate" formControlName="endDate">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <hr>
                    <div id="bill-form">
                        <div class="price-motor">
                            <div class="price-title">
                                <span>Rental Price</span>
                            </div>
                            <div class="price-value">
                                <span>$ {{item.price}}</span>
                            </div>
                        </div>
                        <div class="quantity-motor">
                            <div class="quantity-title">
                                <span>Quantity</span>
                            </div>
                            <div class="quantity-value">
                                <span>{{ updateQuantity() }}</span>
                            </div>
                        </div>

                        <!-- xét cứng  -->

                        <div class="service-fee">
                            <div class="service-title">
                                <span>Service Fee</span>
                            </div>
                            <div class="service-value">
                                <span>$ 5</span>
                            </div>
                        </div>
                        <!-- xét cứng  -->

                        <div class="insurance-fee">
                            <div class="insurance-title">
                                <span>Insurance Fee</span>
                            </div>
                            <div class="insurance-value">
                                <span>$ 5</span>
                            </div>
                        </div>
                        <hr>

                        <div class="rental-day">
                            <div class="rental-title">
                                <span>Rental Day</span>
                            </div>
                            <div class="rental-value">
                                <span>{{item.price}} x {{updateQuantity()}} x {{selectedDays}}</span>
                            </div>
                        </div>
                        <hr>
                        <div class="total-fee">
                            <div class="total-title">
                                <span>Total</span>
                            </div>
                            <div class="total-value">
                                <span>$ 40</span>
                            </div>
                        </div>
                    </div>
                    <div id="btn-next">
                        <button (click)="goToExtras()">Next</button>
                    </div>
                </div>


                <div id="detail" *ngIf="activeTabIndex === 1">
                    <h2>Detail</h2>
                    <p>Detail content goes here...</p>
                </div>
            </div>
        </div>
    </div>

</div>