<div id="register-container">
    <div class="wrapper">
        <form action="#">
            <h2>REGISTER</h2>
            <div [formGroup]="registForm">
                <!-- name -->
                <div class="input-field" *ngIf="!isLoginWithGoogle">
                    <input type="text" placeholder="Name" required formControlName="name">
                    <label>Name</label>
                </div>
                <div class="input-field" *ngIf="isLoginWithGoogle">
                    <input type="text" [placeholder]="userFirebase.name" required formControlName="name">
                </div>

                <!-- password -->
                <div class="input-field">
                    <input type="text" formControlName="password" required>
                    <label>Password</label>
                </div>

                <!-- email -->
                <div class="input-field" *ngIf="!isLoginWithGoogle">
                    <input type="text" placeholder="Email" formControlName="email" required>
                    <label>Email</label>
                </div>
                <div class="input-field" *ngIf="isLoginWithGoogle">
                    <input type="text" [placeholder]="userFirebase.email" formControlName="email" required>
                </div>

                <!-- phone -->
                <div class="input-field">
                    <input type="text" formControlName="phone" required>
                    <label>Phone number</label>
                </div>

                <!-- address -->
                <div class="input-field">
                    <input type="text" formControlName="address" required>
                    <label>Address</label>
                </div>

                <div class="btn_register">
                    <button appearance="primary" tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3"
                        (click)="submitClick()">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>