<div class="register-container">
    <img src="../../../../assets/image/login.png">
    <div class="wrapper">
        <form action="#">
            <h2>REGISTER</h2>
            <div [formGroup]="regisForm">

                <!-- name -->
                <div class="input-field" *ngIf="this.isLoginWithGoogle==false">
                    <input type="text" required formControlName="name">
                    <label>Name</label>
                </div>
                <div class="input-field" *ngIf="this.isLoginWithGoogle==true">
                    <input type="text" [placeholder]="userFirebase.name" required formControlName="name">
                </div>

                <!-- password -->
                <div class="input-field">
                    <input type="password" required formControlName="password">
                    <label>Password</label>
                </div>
                <div class="input-field">
                    <input type="password" required formControlName="confirmPassword">
                    <label>Confirm Password</label>
                </div>

                <!-- email -->
                <div class="input-field" *ngIf="this.isLoginWithGoogle==false">
                    <input type="email" required formControlName="email">
                    <label>Email</label>
                </div>
                <div class="input-field" *ngIf="this.isLoginWithGoogle==true">
                    <input type="email" [placeholder]="userFirebase.email" required formControlName="email">
                </div>

                <!-- phone -->
                <div class="input-field">
                    <input type="text" required formControlName="phone">
                    <label>Phone number</label>
                </div>


                <button type="submit" (click)="registerclick()">Submit</button>
                <div class="register">
                    <p>Have an account? <a (click)="loginclick()">Login here</a></p>
                </div>
            </div>
        </form>
    </div>
</div>